# Python cache i pliki bytecode
__pycache__/
*.py[cod]

# Wirtualne środowiska
venv/
env/
.venv/

# Flask / instance folder
instance/
*.sqlite3

# System operacyjny
.DS_Store
Thumbs.db

# IDE / edytory
.vscode/
.idea/

# Testy i pokrycie kodu
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/
.nox/

# Pliki logów
*.log
.cache

# PyInstaller
*.spec
*.exe

# Jupyter Notebook
.ipynb_checkpoints
